<header>
  <app-navigation></app-navigation>
</header>
<section style="background-color: #e3f2fd;">
  <div class="card-columns p-0 mt-5 ml-0 mr-0 mb-0">
    <div class="p-0" *ngFor="let photo of photos">
      <app-card-img [photo]="photo" (click)="photoSelected = photo"></app-card-img>
    </div>
  </div>

  <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body p-0">
            <app-detail-img [detailPhoto]="photoSelected"></app-detail-img>
        </div>
      </div>
    </div>
  </div>
</section>
<footer style="background-color: #e3f2fd;">
  <div class="text-center pt-5 pb-5">
    All rights reserved 2020 <br> Develop by Edwin Vargas
  </div>
</footer>

<router-outlet></router-outlet>